@charset "utf-8";
/* CSS Document */

body {
  background-color:#FCFFF0;
  text-align:Center;	
}
h1 {
    color: #030326;
    font-weight: bold;
    font-style: normal;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	text-align: Center;
}

p {
  color: red;
}
a{
    background: #0E012B;
    color: #ffffff;
    border: thick solid #03194D;
    padding: auto;
    widthL: 300px;
    display: inline-flex;
    align-content: center;
}
a:hover{
	background:#ffffff;
    color:  #0E012B;
}
.menubutts{
	max-width:100%;
	margin: 10px auto;
}
.menubutt {
}
